h2 {
    color: #0e76bc;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    color: #0e76bc;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.top_checkbox {
    float: right;
    font-size: 13px;
}

div.seoReport {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 98%;
    border-collapse: collapse;
    background: #ffffff;
    font-size: 13px;
    font-family: 'Arial', 'Geneva', 'Verdana', 'Helvetica', serif;
    margin: 0 auto 40px;
}

.table th, .table td {
    padding: 4px 0 4px 8px;
    text-align: center;
}

.table td.name {
    text-align: left;
}

.table th {
    color: #ffffff;
    background: #61839a;
}

.table td {
    height: 22px;
    border: 1px solid #ffffff;
}

.table td.white, .table tr:nth-child(odd) td {
    background-color: #ffffff;
    color: #000000;
}

.table td:first-child {
    background-color: #ffffff !important;
    color: #0E76BC !important;
    padding: 5px;
}

.table td.gray, .table tr:nth-child(even) td {
    background-color: #E9E9EA;
    color: #777777;
}

.table tr:hover td {
    background-color: rgba(255, 127, 127, 0.3);
}

.table td a {
    font-size: 13px;
    color: #0E76BC;
    text-decoration: none;
}

.table td a:hover {
    color: #3097dc;
    border-bottom: 1px dashed #0E76BC;
}

.table th a {
    width: 12px;
    height: 10px;
    display: inline-block;
}

.table th a.sortAsc {
    background: url("../images/arrow-up-white.gif") no-repeat;
}

.table th a.sortDesc {
    background: url("../images/arrow-down-white.gif") no-repeat;
}

.table tr.top_10 td, td.top_10 {
    background-color: rgba(0, 255, 0, 0.5) !important;
    font-weight: bold;
    color: #000000;
}

.table tr.top_50 td, td.top_50 {
    background-color: rgba(255, 255, 0, 0.5) !important;
    font-weight: bold;
    color: #000000;
}

.table tr.top_100 td, td.top_100 {
    background-color: rgba(255, 0, 0, 0.5) !important;
    font-weight: bold;
    color: #000000;
}

.table td.top_10_inOrOut {
    font-weight: bold;
}

.table td.top_10_inOrOut .upPos,.table td.top_10_inOrOut .downPos{
    color: #000000;
}

.table td.upPos {
    background-color: #008000 !important;
}

.table td.downPos{
    background-color: red !important;
}

.table sup {
    width: 14px;
    display: inline-block;
}

.table sup.upPos {
    color: #008000;
}

.table sup.downPos {
    color: red;
}

.csv {
    -webkit-appearance: none;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(rgb(123, 163, 190)), to(rgb(97, 131, 154)));
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(97, 131, 154);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(97, 131, 154);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(97, 131, 154);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(97, 131, 154);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 2px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Geneva, Verdana, Helvetica;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 24px;
    letter-spacing: normal;
    line-height: 12px;
    margin-bottom: 1px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1px;
    outline-color: rgb(255, 255, 255);
    outline-offset: 0px;
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
    text-transform: none;
    white-space: pre;
    width: 186px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    float: right;
}